<div class="row body_container">
  <div class="small-12 large-12 columns">
  	<h4>Places</h4>
    <table class="table-container" id="place_table">
      <thead>
        <tr>
          <th style="display: none">ID</th>
          <th>NAME</th>
          <th>FOLLOWERS</th>
          <th>TOTAL CHECK INS</th>
          <th>CURRENTLY CHECKED</th>
          <th>CHEERS</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th style="display: none">ID</th>
          <th>NAME</th>
          <th>FOLLOWERS</th>
          <th>TOTAL CHECK INS</th>
          <th>CURRENTLY CHECKED</th>
          <th>CHEERS</th>
        </tr>
      </tfoot>
    </table>
    <div class="small reveal" id="place_info_modal" data-reveal>
      <div id="place_info_container"></div>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div class="small-12 large-12 columns">
    <h4>Users</h4>
    <table class="table-container" id="user_table">
      <thead>
        <tr>
          <th style="display: none">ID</th>
          <th>FIRST NAME</th>
          <th>FOLLOWED PLACES</th>
          <th>TOTAL CHECK INS</th>
          <th>TOTAL CHEERS</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th style="display: none">ID</th>
          <th>FIRST NAME</th>
          <th>FOLLOWED PLACES</th>
          <th>TOTAL CHECK INS</th>
          <th>TOTAL CHEERS</th>
        </tr>
      </tfoot>
    </table>
    <div class="small reveal" id="user_info_modal" data-reveal>
      <div id="user_info_container"></div>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="small reveal" id="user_followed_places_info_modal" data-reveal>
      <div id="user_followed_places_info_container"></div>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<script>
  $('#place_table').DataTable({
    "lengthMenu": [ 5,10, 25, 50, 75, 100 ],
      "processing": true,
      "serverSide": true,
      "ajax": "<%= ajax_analytics_place_url %>",
      columns: [ 
      { className: "dont_show", searchable: false, orderable: false }, 
      { }, 
      { searchable: false }, 
      { searchable: false },
      { searchable: false },  
      { searchable: false }, 
      ] 
  });

  $('#user_table').DataTable({
    "lengthMenu": [ 5,10, 25, 50, 75, 100 ],
      "processing": true,
      "serverSide": true,
      "ajax": "<%= ajax_analytics_user_url %>",
      columns: [ 
      { className: "dont_show", searchable: false, orderable: false }, 
      { }, 
      { searchable: false }, 
      { searchable: false },
      { searchable: false },  
      ] 
  });
</script>