<div class="row body_container">
  <div class="form_container">
    <% if @notification.errors.any? %>
    <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>

    <%= form_for @notification, url: {controller: "notifications", action: "create"} ,html: { multipart: true, id: "notification_form", class: "appendautocomplete" }, method: :post do |f| %>
      <div class="small-3 large-3 columns info_label">
        Message:
      </div>
      <div class="small-9 large-9 columns">
        <%= f.text_area :message, autofocus: true, rows: 10, notificationholder: "Message", required: true %>
      </div>

      <div class="small-3 large-3 columns info_label">
        Send to:
      </div>
      <div class="small-9 large-9 columns" style="text-align: left;">
      <%
      select = ManualNotification.send_tos.to_a.map{ |k , v| [k.humanize.capitalize, k] }
      %>
        <%= f.collection_radio_buttons(:send_to, select , :last, :first, { checked: select.first}, class: "check_button" ) %>
      </div>

      <div class="small-3 large-3 columns info_label">
        &nbsp;
      </div>
      <div class="small-9 large-9 columns" style="text-align: left;">
        <%= text_field "manual_notification", "recipients", class: "recipients", disabled: true %>
      </div>
    
      <div class="small-12 large-12 columns">
        <div class="actions">
          <br>
          <%= link_to "HISTORY", notifications_path, class: "violet_button" %>  <%= f.submit "SEND", class: "green_button" %>
        </div>
      </div>


    <% end %>
  </div>
</div>

<script type="text/javascript">

  $("#manual_notification_recipients").tokenInput("/users/user_list.jason", { propertyToSearch: 'email', preventDuplicates: true });
  $("#token-input-manual_notification_recipients").prop('disabled', true);

  $(".check_button").on('change', function() {

    if($("#manual_notification_send_to_specific_users").is(":checked"))
    {
      $("#token-input-manual_notification_recipients").prop('disabled', false);
      $("#manual_notification_recipients").prop('disabled', false);
    }
    else
    {
      $("#token-input-manual_notification_recipients").prop('disabled', true);
      $("#manual_notification_recipients").prop('disabled', true);
    }
  });

</script>

