<div class="panel callout">
  <div class="row">
    <div class="small-3 large-3 columns info_label">
      <span>Sent to:</span>
    </div>
    <div class="small-9 large-9 columns info_text">
      <span><%= send_to(@notification) %></span>
    </div>

    <div class="small-3 large-3 columns info_label">
      <span>Date sent:</span>
    </div>
    <div class="small-9 large-9 columns info_text">
      <span><%= @notification.created_at.to_date %></span>
    </div>

    <div class="small-3 large-3 columns info_label">
      <span>Message:</span>
    </div>
    <div class="small-9 large-9 columns info_text">
      <span><%= @notification.message %></span>
    </div>
  </div>
</div>