<div class="row body_container">
  <div class="small-12 large-12 columns">
    <h4>Notification History</h4>
    <table class="table-container" id="notification_table">
      <thead>
        <tr>
          <th style="display: none">ID</th>
          <th>MESSAGE</th>
          <th>SENT TO</th>
          <th>DATE SENT</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th style="display: none">ID</th>
          <th>MESSAGE</th>
          <th>SENT TO</th>
          <th>DATE SENT</th>
        </tr>
      </tfoot>
    </table>

    <div class="small reveal" id="notification_info_modal" data-reveal>
      <div id="notification_info_container"></div>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>


<script>
  $('#notification_table').DataTable({
    "lengthMenu": [ 5,10, 25, 50, 75, 100 ],
    "processing": true,
    "serverSide": true,
    "ajax": "<%= ajax_notifications_url %>",
    columns: [ 
    { className: "dont_show", searchable: false, orderable: false }, 
    { }, 
    { searchable: false, orderable: false }, 
    { searchable: false, orderable: false }  
    ] 
  });
</script>
