<div class="row">
  <div class="small-12 large-12 columns">
    
    Sent to: <%= @notification.send_to %><br>
    Date Sent: <%= @notification.created_at.to_date %><br>
    Message: <%= @notification.message %><br>
    
    <%= link_to "Notifications", notifications_path %> %>
  </div>
</div>

