<div class="row">
  <% 
    if @user.avatar.present? 
      user_avatar = @user.avatar.url(:large)
    else
      @user.male? ? user_avatar = Photo.default_photo_men.try(:image).url(:large) : user_avatar = Photo.default_photo_women.try(:image).url(:large)
    end 
  %>
  <div class="info_icon_container" style="background-image: url(<%= user_avatar %>); background-position: center center; background-repeat: no-repeat; background-size: cover;">
  </div>
</div>

<div class="row info_container1">
  <div class="small-12 large-12 columns">
    <h4>Followed places</h4>
    <table class="table-container" id="followed_place_table">
      <thead>
        <tr>
          <th style="display: none">ID</th>
          <th>NAME</th>
          <th>CHECKINS</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th style="display: none">ID</th>
          <th>NAME</th>
          <th>CHECKINS</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<script>
  $('#followed_place_table').DataTable({
    "lengthMenu": [ 5,10, 25, 50, 75, 100 ],
      "processing": true,
      "serverSide": true,
      "ajax": "<%= ajax_analytics_places_followed_path(@user) %>",
      columns: [ 
      { className: "dont_show", searchable: false, orderable: false }, 
      { }, 
      { searchable: false }, 
      ] 
  });
</script>