<div class="row body_container">
  <div class="form_container">
    <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>

    <%= form_for @user,  html: { multipart: true } do |f| %>
      <div class="small-3 large-3 columns info_label">
        Email:
      </div>
      <div class="small-9 large-9 columns">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", required: true  %>
      </div>

      <div class="small-3 large-3 columns info_label">
        First Name:
      </div>
      <div class="small-9 large-9 columns">
        <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", required: true %>
      </div>

      <div class="small-3 large-3 columns info_label">
        Last Name:
      </div>
      <div class="small-9 large-9 columns">
        <%= f.text_field :last_name, autofocus: true, placeholder: "Last Name", required: true %>
      </div>

      <div class="small-3 large-3 columns info_label">
        Gender:
      </div>
      <div class="small-9 large-9 columns">
        <%= f.select(:gender, User.genders.keys.map {|gender| [gender.titleize,gender]} ) %>
      </div>

      <div class="small-3 large-3 columns info_label">
        Role:
      </div>
      <div class="small-9 large-9 columns">
        <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]} ) %>
      </div>

      <div class="small-3 large-3 columns info_label">
        Birthdate:
      </div>
      
      <div class="small-9 large-9 columns date">
          <% 
            @user.birthdate.present? ? birthdate =  @user.birthdate.first(10) : birthdate = "1970-01-15" 
          %>
          <input type="text" value= "<%= birthdate %>" name="user[birthdate]" id="user_birthdate" readonly>
      </div>
      <div class="small-3 large-3 columns info_label">
        Password:
      </div>
      <div class="small-9 large-9 columns">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="small-3 large-3 columns info_label">
        Confirm
      </div>
      <div class="small-9 large-9 columns">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <% if !(@user.photos.count <= 0) ||  @user.photos.count <= 4 %>
      <div class="small-3 large-3 columns info_label">
        Add photo:
      </div>
      <div class="small-9 large-9 columns">
        <%= f.file_field :add_photo %>
      </div>
      <% end %>

      <% if !(@user.photos.count <= 0) %>
      <div class="small-3 large-3 columns info_label">
        Order:
      </div>
      <div class="small-9 large-9 columns">
        <div class="sortable">
        <% @user.photos.order(position: :asc).each { |photo| %>
          <div class="ui-state-default" style="background-image: url(<%= photo.try(:image).url(:medium) %>); background-position: center center; background-repeat: no-repeat; background-size: cover;">
            <%= f.hidden_field(:photos, multiple: true, value: photo.id) %>
            <%= link_to raw('&times;'), delete_user_photo_path(id: @user.id, photo_id: photo.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'delete_photo' %>
          </div>
        <%  } %>
        </div> 
        <br>
      </div>
      <% end %>

      <div class="small-12 large-12 columns">
        <div class="actions">
          <br>
          <%= link_to "USERS", users_path, class: "violet_button" %>  <%= f.submit "SUBMIT", class: "green_button"%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    $( ".sortable" ).sortable({
      revert: true
    });
    $( ".sortable, .ui-state-default" ).disableSelection();
    $('.delete_photo').bind('ajax:success', function(e) {  
        $(this).parent().remove();
    })

    $('#user_birthdate').fdatepicker({
      format: 'yyyy-mm-dd',
      disableDblClickSelection: true
    });
  });
</script>
