<div class="row">
  <% 
    if @user.avatar.present? 
      user_avatar = @user.avatar.url(:large)
    else
      @user.male? ? user_avatar = Photo.default_photo_men.try(:image).url(:large) : user_avatar = Photo.default_photo_women.try(:image).url(:large)
    end 
  %>
  <div class="info_icon_container" style="background-image: url(<%= user_avatar %>); background-position: center center; background-repeat: no-repeat; background-size: cover;">
  </div>
</div>

<div class="row info_container1">
  <div class="small-6 large-6 columns info_label">
    <span>Email:</span><br>
    <span>First Name:</span><br>
    <span>Last Name:</span><br>
    <span>Gender:</span><br>
    <span>Age:</span><br>
    <span>Role:</span><br>
  </div>
  <div class="small-6 large-6 columns info_text">
    <span><%= @user.email %></span><br>
    <span><%= @user.first_name %></span><br>
    <span><%= @user.last_name %></span><br>
    <span><%= @user.gender %></span><br>
    <span><%= @user.age %></span><br>
    <span><%= @user.role %></span><br>
  </div>
</div>
<div class="row info_container2">
  <div class="small-12 large-12 columns">
    <div style="width: 500px; margin-left: auto; margin-right: auto; text-align: center;">
      <div class="photo_gallery">
        <% 
        if @user.photos.present?
        @user.photos.order(position: :asc).each { |photo| %>
          <div class="slick-slide">
            <div class="photo" style="background-image: url(<%= photo.try(:image).url(:medium) %>); background-position: center center; background-repeat: no-repeat; background-size: cover;" >
            </div>
          </div>
        <%  } 
        end%>
      </div>
      <br>
      <%= link_to "USERS", users_path, class: "violet_button" %>  <%= link_to "EDIT", edit_user_path(@user), class: "green_button" %>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.photo_gallery').slick({
      accessibility: true,
      arrows: true,
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
  });
</script>
