$("#user_followed_places_info_container").html('');
$("#user_followed_places_info_modal").foundation('open');
$("#user_followed_places_info_container").html('<%= j render "followed_place_info", xray: false %>');
