<div class="row body_container">
  <div class="small-12 large-12 columns">
    <table class="table-container" id="user_table">
      <thead>
        <tr>
          <th style="display: none">ID</th>
          <th>EMAIL</th>
          <th>FIRST NAME</th>
          <th>LAST NAME</th>
          <th>GENDER</th>
          <th>AGE</th>
          <th>ROLE</th>
          <th>AVATAR</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th style="display: none">ID</th>
          <th>EMAIL</th>
          <th>FIRST NAME</th>
          <th>LAST NAME</th>
          <th>GENDER</th>
          <th>AGE</th>
          <th>ROLE</th>
          <th>AVATAR</th>
          <th>ACTION</th>
        </tr>
      </tfoot>
    </table>
    <div class="small reveal" id="user_info_modal" data-reveal>
      <div id="user_info_container"></div>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<script>
  // $('#user_table').DataTable({
  //   "lengthMenu": [ 5,10, 25, 50, 75, 100 ],
  // });

  $('#user_table').DataTable({
    "lengthMenu": [ 5,10, 25, 50, 75, 100 ],
      "processing": true,
      "serverSide": true,
      "ajax": "<%= ajax_users_url %>",
      columns: [ 
      { className: "dont_show", searchable: false, orderable: false }, 
      { }, 
      { },
      { }, 
      { searchable: false },
      { searchable: false },
      { searchable: false },
      { searchable: false, orderable: false },
      { searchable: false, orderable: false } 
      ] 
  });
</script>