<div class="container">
  <%= image_tag "admin/Logo.png", class: "login-logo"%>
  <div class="login-form-container">
    <div class="login-form">
      <div class="authenticate_response"><%= render("shared/flash") %></div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "EMAIL", required: true%>
        </div>

      <!--   <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%> -->

        <div class="action">
          <%= f.submit "Send me reset password instructions", class: "expanded button login-button"%>
        </div>
        <%= link_to "Login", new_user_session_path, class_name: "text_link_color"%>
      <% end %>
    </div>
  </div>
</div>