<div class="row">
  <div class="large-12 columns">
    <h1 class="header-color">FAQ Tipple</h1>
    <ul style="margin: 0">
      <li>
        <%= link_to "Will TIPPLE publish on my Facebook page ?", "#faq0", class: "faq-item-title" %>
        <div id="faq0" class="" >
          <p>
            Tipple will never published anything on your Facebook’s page without your approval.
          </p>
        </div>
      </li>

      <li>
        <%= link_to "What are the profiles you see when you follow a place?", "#faq1", class: "faq-item-title" %>
        <div id="faq1" class="" >
          <p>
            When you follow a place, you can see all the profiles following the place that matches your preferences. By default, the preferences are the one from your Facebook page.
          </p>
          <p>
            Examples:
          </p>
          <ul>
            <li>If you are a man, interested in women, you will just be able to see the women interested in men profiles.</li>
            <li>If you are a man, interested in men, you will just be able to see the men interested in men profiles.</li>
            <li>If you are a woman, interested in men and women, you will be able to see the men interested in woman profiles, the men interested in men and women profiles, the women interested in women profiles and the women interested in men and women profiles.</li>
          </ul>
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Why should I follow a place?", "#faq2", class: "faq-item-title" %>
      <div id="faq2" class="" >
        <p>
          Once you add a place to your places, your profile becomes visible by the other members and you can see and interact with the other member matching your preferences. You will also receive information & notifications about the place in the activity page.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "What is the « My tipple » page ?", "#faq3", class: "faq-item-title" %>
      <div id="faq3" class="" >
        <p>
          “My tipple” allows you to access and delete the places that you follow, access your activity feed, your options and your profile.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "What is the check-in ?", "#faq4", class: "faq-item-title" %>
      <div id="faq4" class="" >
        <p>
          When you are in a range of 100m from a place, you can check in.
        </p>
        <p>
          Once you’re checked-in you’ll see all the people who are also checked in the same place at the same time and be visible by these people.
        </p>
        <p>
          Your cheers, will also be notified of your position unless you uncheck the options in the settings. Each check-in makes you win a random amount of drinks (between 1 to 5)
        </p>
        <p>
          Checking in frequently will also help you be better referenced on the place page (see "How are the profiles sorted in a place?")
        </p>
        <p>
          All of the options activated by the check in will be live for 8 hours only.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Can I check in inside a place if I dont follow the place ?", "#faq5", class: "faq-item-title" %>
      <div id="faq5" class="" >
        <p>
          You can check in inside a place that you do not follow. It will automatically follow the place.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Can we cancel a check in ?", "#faq6", class: "faq-item-title" %>
      <div id="faq6" class="" >
        <p>
          You can’t cancel a check in. However an option in the app allows you to hide your position to your matches.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Can I check in on several places at the same time ?", "#faq7", class: "faq-item-title" %>
      <div id="faq7" class="" >
        <p>
          It is impossible to check in several places at the same time. Your previous check in will be cancelled if you check in a new place.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "How are the profiles sorted in a place?", "#faq8", class: "faq-item-title" %>
      <div id="faq8" class="" >
        <p>
          The profiles are sorted based on the number of check-in each user has. The profiles on top are the ones who checked in the most. The more you check-in somewhere the higher your profile will appear.
        </p>
        <p>
          When two profiles have the same checked-in amount, the profile last one to check-in will appears first.
        </p>
        <p>
          However, if there are new profiles following the place since the last time you logged in, you will see them displayed on top of the page once.
        </p>
        <p>
          When you are checked in, the profiles checked in at the same time will appear first, from the last checked-in person to the first.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Is it necessary to activate the location service for Tipple to function?", "#faq9", class: "faq-item-title" %>
      <div id="faq9" class="" >
        <p>
          Tipple wants to help you meet people in real life and locally. In order to offer you the best service possible, the app needs to know your position.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Can I hide my profile to the other users?", "#faq10", class: "faq-item-title" %>
      <div id="faq10" class="" >
        <p>
          I you dont follow any place, then your profile is invisible by the other users. Anyway, you can discover places around you, and see how many people are registered within these places following your preferences ( men, women, both )
        </p>
        <p>
          However an option to mask your profile for 24h is available in the settings.
        </p>
      </div>
    </li>

    <li>
      <%= link_to 'How the "like" and "drink" buttons work?', "#faq11", class: "faq-item-title" %>
      <div id="faq11" class="" >
        <p>
          You can like a profile ( like button ). It’s anonymous and the person will never know you like her unless she presses the button too. You can also send a drink. Drinks send a notification to the user receiving it. You can win drinks by checking in places or just buy it from the store.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "How do we interact with someone?", "#faq12", class: "faq-item-title" %>
      <div id="faq12" class="" >
        <p>
          You can not directly interact with someone.
        </p>
        <p>
          If you want to begin a conversation, the attraction needs to be mutual. You need to get a “cheers”.
        </p>
        <p>
          To get a cheers with someone, the both of you need to have pressed the "like" button or accept the drink received.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "What are the differences between the like and the drink?", "#faq13", class: "faq-item-title" %>
      <div id="faq13" class="" >
        <p>
          The like is a secret action. If you press the like button on the profile of someone, this person will never know that she is liked. Except if it is reciprocal. The drink button sends a notification. The one who receives it has a choice. He can answer to the drink or ignore it.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "When I receive a drink, how to answer to it?", "#faq14", class: "faq-item-title" %>
      <div id="faq14" class="" >
        <p>
          When you receive a drink, a push notification will be sent to the user. It will also appears on the activity feed of « My Tipple » in the lets have a drink section. You can accept the drink and have a cheers or ignore the drink by pressing the X.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Can we cancel a drink sent?", "#faq15", class: "faq-item-title" %>
      <div id="faq15" class="" >
        <p>
          It is impossible to cancel a drink that a user has sent.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "How to add pictures ?", "#faq16", class: "faq-item-title" %>
      <div id="faq16" class="" >
        <p>
          You can modify your pictures by clicking on the top right icon on the dashboard page.
        </p>
        <p>
          You can use your Facebook pictures in your Tipple profile or you can upload pictures from your phone’s memory or camera roll.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Does the app need to be open in order to function?", "#faq17", class: "faq-item-title" %>
      <div id="faq17" class="" >
        <p>
          The app doesn’t need to be systematically open in order to function.
        </p>
        <p>
          The smartphone within your pocket keeps recovering all the datas in real time.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Do we need an internet conection in order to function ?", "#faq18", class: "faq-item-title" %>
      <div id="faq18" class="" >
        <p>
          It is necessary to have an internet connexion in order for the app to works ( wifi/ 3G/ 4G ).
        </p>
      </div>
    </li>

    <li>
      <%= link_to "What’s the purpose of the research information in the settings?", "#faq19", class: "faq-item-title" %>
      <div id="faq19" class="" >
        <p>
          These settings are totally reciprocal: you will never be visible by a user which doesn’t match with your criteria.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "How to win drinks?", "#faq20", class: "faq-item-title" %>
      <div id="faq20" class="" >
        <p>
          You can win drinks if you check in a place or if you share the app.
        </p>
        <p>
          You can also buy packs of drinks in the "drinks" section of the dashboard.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Can we delete a conversation?", "#faq21", class: "faq-item-title" %>
      <div id="faq21" class="" >
        <p>
          Yes it is possible to delete a conversation, you just need to click at the top right of the chat page and to chose “delete this conversation”. So the profile is locked.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "How to block a profile?", "#faq22", class: "faq-item-title" %>
      <div id="faq22" class="" >
        <p>
          In order to block a profile, you need to click on the 3 dots on the top right of the profile.
        </p>
        <p>
          Then you can block or report the profile.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "What happen if I block a profile?", "#faq23", class: "faq-item-title" %>
      <div id="faq23" class="" >
        <p>
          If you block someone, the blocked profile will never know. The person will never be able to see your profile or to send you a message anymore.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "I have blocked a profile that I would like to unlock. Is it possible?", "#faq24", class: "faq-item-title" %>
      <div id="faq24" class="" >
        <p>
          You have an access to the list of the users you blocked in the settings.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "How can I disable my account?", "#faq25", class: "faq-item-title" %>
      <div id="faq25" class="" >
        <p>
          Simply go to “settings” which is located on the dashboard on the “ My tipple” page.
        </p>
        <p>
          Then press : disable my account.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Why does the button « drink » becomes clickable again after some time?", "#faq26", class: "faq-item-title" %>
      <div id="faq26" class="" >
        <p>
          You noticed that the drink button was clickable again? Do not worry, the drink has been sent and received.
        </p>
        <p>
          When a user doesn’t answer 24 hours after receiving a drink, Tipple allows you to send a drink again.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "A cheers disappeared from my list, how is it possible?", "#faq27", class: "faq-item-title" %>
      <div id="faq27" class="" >
        <p>
          If you don’t find a cheers anymore, or a conversation on your Chat Page, it means that the profile has been delisted of the app or that the person blocked you.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Can I register on TIPPLE if I have less than 18 years old?", "#faq28", class: "faq-item-title" %>
      <div id="faq28" class="" >
        <p>
          Tipple is an app dedicated to people aged over 18.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Can I register on Tipple without a Facebook account?", "#faq29", class: "faq-item-title" %>
      <div id="faq29" class="" >
        <p>
          Facebook connect is mandatory to register on Tipple and use the service.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Should I allow Tipple to access my Facebook infos?", "#faq30", class: "faq-item-title" %>
      <div id="faq30" class="" >
        <p>
          Your Tipple profile (name, age, pictures) is synchronized automatically with the infos from your Facebook profile.
        </p>
        <p>
          If you dont allow Tipple to access your Facebook infos, you will not be able to register.
        </p>
        <p>
          You cannot change your age or name on the app so we recommend that you make sure that the informations on your Facebook profile are correct.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "I can’t log in.", "#faq31", class: "faq-item-title" %>
      <div id="faq31" class="" >
        <p>
          Make sure you have the latest version of Tipple. Open Tipple and try logging out and logging back in. You can also try force quitting the app. If you're using an iPhone: go to the iOS settings, select Facebook, remove your Facebook account and try logging in to Tipple again. You can also try deleting Tipple from your phone, downloading it again and reinstalling it. As long as you don’t delete your account, this won’t delete your existing matches and messages.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "The app keeps crashing.", "#faq32", class: "faq-item-title" %>
      <div id="faq32" class="" >
        <p>
          Make sure you have the latest version of Tipple and try hard closing the app: If you’re using an iPhone, double tap the “Home” button, and swipe Tipple up to force quit the app. On Android: Go to ‘Settings’, go to ‘Apps’, select Tipple, hit ‘force quit’, then open Tipple again. You can also try restarting your phone and reinstalling the app. As long as you don't delete your account you won't lose any of your Matches or messages.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Will I lose my matches if I delete the app?", "#faq33", class: "faq-item-title" %>
      <div id="faq33" class="" >
        <p>
          As long as you don't delete your account, deleting the app won't delete any of your matches or messages.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "I can’t change my settings.", "#faq34", class: "faq-item-title" %>
      <div id="faq34" class="" >
        <p>
          Make sure you have the latest version of Tipple. If the issue persists, please try again in a few hours.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "I can’t upload photos.", "#faq35", class: "faq-item-title" %>
      <div id="faq35" class="" >
        <p>
          Make sure you have the latest version of Tipple. Make sure your pictures are in a public album or at least visible to your friends (not you only) on Facebook. You can also try moving the pictures to a different album on Facebook. Try hard closing the app: If you’re using an iPhone, double tap the “Home” button, and swipe Tipple up to force quit the app. On Android: Go to Settings, go to Apps, select Tipple, hit force quit, then open Tipple again. If the issue persists, try logging out and logging back in. To do so, go to Settings, scroll down, hit Logout, and log back in.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "I accidentally denied Tipple access to my photos.", "#faq36", class: "faq-item-title" %>
      <div id="faq36" class="" >
        <p>
          On iOS: go to the Facebook app, select More, Privacy Shortcuts, More Settings, Apps and find Tipple. Remove Tipple and make sure to check the box 'Delete all your Tipple Activity on Facebook. This may take a few minutes.' Open Tipple again and allow the app to access your photos. Also, you can go to the iOS settings, select ‘Privacy’, then ‘Photos’, and make sure Tipple is enabled.
        </p>
        <p>
          On Android: Go to the Facebook app, go to Account Settings, Apps and find Tipple. Remove Tinder and make sure to check the box 'Delete all your Tipple Activity on Facebook. This may take a few minutes.' Open Tipple again and allow the app to access your photos.
        </p>
      </div>
    </li>

    <h2>Connecting Your Instagram to your Tipple Profile</h2>

    <li>
      <%= link_to "How do I display my Instagram on my Tipple profile?", "#faq37", class: "faq-item-title" %>
      <div id="faq37" class="" >
        <p>
          To connect your Instagram account to your Tipple profile, tap ‘edit’ in your profil screen, scroll and select ‘Connect Instagram.’ Please note that your Instagram photos can not be used as profile pictures. Profile pictures can only be uploaded from Facebook or from your gallery.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "What if my Instagram is private?", "#faq38", class: "faq-item-title" %>
      <div id="faq38" class="" >
        <p>
          If your Instagram account is private, and if you choose to connect it to your Tipple account, Tipple users will be able to see your most recent Instagram photos. However, this won't affect your privacy settings on Instagram.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Can I use my Instagram photos as profile pics?", "#faq39", class: "faq-item-title" %>
      <div id="faq39" class="" >
        <p>
          Your Instagram photos can not be used as profile pictures on Tipple. Profile pictures can only be uploaded from Facebook or your gallery
        </p>
      </div>
    </li>

    <li>
      <%= link_to "How do I remove my Instagram from my profile?", "#faq40", class: "faq-item-title" %>
      <div id="faq40" class="" >
        <p>
          To disconnect your Instagram from your Tipple profile, tap ‘edit’ in your profil screen, scroll and select 'Disconnect Instagram'.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "How do I remove an Instagram photo from my Tipple profile?", "#faq41", class: "faq-item-title" %>
      <div id="faq41" class="" >
        <p>
          Your Instagram photos will update automatically, but there might be a slight delay. If you’ve deleted a photo on Instagram and it’s still showing up on Tipple, you can disconnect and reconnect your Instagram account in order to update your information. Posting a new photo on Instagram will also update your Instagram photos on Tipple.
        </p>
      </div>
    </li>

    <h2>Discovery</h2>

    <li>
      <%= link_to "How do I report someone?", "#faq42", class: "faq-item-title" %>
      <div id="faq42" class="" >
        <p>
          You can report users that you have already matched with, and users you haven’t matched with. To report someone, go to their profile, hit the menu icon (3dots icon) and hit report.
        </p>
      </div>
    </li>

    <li>
      <%= link_to 'Tipple is stuck on "Finding places near you".', "#faq43", class: "faq-item-title" %>
      <div id="faq43" class="" >
        <p>
          Open Tipple and try logging out and logging back in. You can also try force quitting the app. On your device, go to Settings and make sure the GPS (location services) is enabled. You can also try turning location services OFF and back ON. You may have to open the Maps app in order for your GPS to pick up your current location. If the issue persists, please wait a few hours and try again.
        </p>
      </div>
    </li>

    <h2>Cheers</h2>

    <li>
      <%= link_to "I got a new cheers notification but I don’t see a new cheers.", "#faq44", class: "faq-item-title" %>
      <div id="faq44" class="" >
        <p>
          Try typing that person’s name in the Search bar at the top of the Cheers screen. If the conversation doesn’t show, it means that person either blocked you or deleted their account. Just to be sure, you can try logging out and logging back in. To do so, go to Settings, scroll down, hit Logout, and log back in.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "I don’t have any Cheers.", "#faq45", class: "faq-item-title" %>
      <div id="faq45" class="" >
        <p>
          You need to allow time for people to like you back! Try updating your photos and check-in more to make your profile more visible.
        </p>
      </div>
    </li>

    <h2>Chat / Messages</h2>

    <li>
      <%= link_to "I got a new message notification but I don’t see it.", "#faq46", class: "faq-item-title" %>
      <div id="faq46" class="" >
        <p>
          If the conversation doesn’t come up, it means that person either blocked you or deleted their account. Just to be sure, you can try logging out and logging back in. To do so, go to Settings, scroll down, hit Logout, and log back in.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "Can I message someone I haven’t matched with?", "#faq47", class: "faq-item-title" %>
      <div id="faq47" class="" >
        <p>
          No, only users who have indicated a mutual interest in one another are allowed to chat.
        </p>
      </div>
    </li>

    <li>
      <%= link_to "My messages are not going through.", "#faq48", class: "faq-item-title" %>
      <div id="faq48" class="" >
        <p>
          Please make sure you have a strong internet connection. On iOS, try tapping the exclamation mark and hit resend. On Android, you can just tap the message to try sending it again. You can also try closing the app. If the issue persists, please wait a few hours and try again at a later time. We apologize for the inconvenience.
        </p>
      </div>
    </li>

  </ul>
</div>
</div>
