<div class="row">
  <div class="large-12 columns">
    <h1 class="header-color">Terms of Service</h1>
    <hr>
    <ol>
      <li>GENERAL</li>
      <p>
        The Tipple Application is made available by the company TIPPLE SAS, french law company registered n°818 904 211 at Paris’s RCS, whose registered office is located: 75 rue du Rocher 75008 Paris (hereafter «Tipple SAS»).
      </p>
      <p>
        These terms of use (hereafter «Terms of Service») are intended to govern the access, the download and the use of the application TIPPLE (hereafter “the app”) developed by TIPPLE SAS.
      </p>
      <p>
        Installing the application, the user accepts to abide without reservation to these terms.
      </p>

      <li>REQUIRED CONFIGURATION</li>
      <p>
        To use the application via a mobile phone, the user must have access to appropriate high-speed Internet, a telephone subscription for full access to the Internet, a mobile phone and / or a compatible mobile terminal with the application such as: Smartphone, a wAP connection , wiFi and / or 3G / 4G on their phone or mobile device.
      </p>

      <li>USER ACCOUNT </li>
      <ol>
        <li>The User guarantees that the datas that he provides for the creation of his User Account are truthful and accurate.</li>
        <li>The User accepts and acknowledges of the responsibility for maintaining the confidentiality and personal IDs and passwords associated to his User Account . Consequently , the User agrees to be solely responsible towards Tipple SAS acts carried from his User Account and protection of their password . If the User is aware of an unauthorized use of his password and / or his User Account , it undertakes to inform Tipple SAS without delay by email at the address: hello@tipple-app.com</li>
      </ol>

      <br>

      <li>TERMS OF USE</li>
      <p>
        The user acknowledges that the terms of the contract with his mobile phone operator will continue to apply during the use of the application. L’Utilisateur reconnait que les conditions du contrat avec son opérateur de téléphonie mobile continueront de s’appliquer lors de l’utilisation de l’Application. The User will assume all the costs that can be claimed by the mobile operator related to access to internet services, WiFi, WAP and / or 3G required for the use of the Application.
      </p>

      <li>CONTENT PUBLISHING</li>
      <ol>

        <li>
          The term "Content" means information about the User and content broadcasts / publish voluntarily, private or public, on the Application.
        </li>
        <br>
        <p>
          Users are solely responsible for his use of the Application, the content they publish on the Application and any consequences thereof. In no event Tipple SAS will be considered responsible for the Content created by the User.
        </p>
        <p>
          When it becomes aware, Tipple SAS may object to the publication of any content that is clearly not in accordance with these Terms.
        </p>

        <li>While using the application, the member agrees:</li>
        <ul>
          <li>Not to publish on the application content and pornographic pictures or violating decency and human dignity.</li>
          <li>To respect the privacy of the contents and of the exchanges conversations with other members within the app and to prohibit the dissemination or disclosure.</li>
          <li>Not to violate the laws on intellectual property.</li>
          <li>Not to violate public order.</li>
          <li>Not to commit libel and more broadly not to be abusive in particular racial or discriminatory.</li>
          <li>To respect the laws and regulations in force.</li>
          <li>Not to incite violence or advocate for war crimes or crimes against humanity.</li>
          <li>Not to break the rules of decorum and proper to remain vis-à-vis other Members.</li>
          <li>Not to undermine, in any way, the normal development of services as well as the application infrastructure.</li>
          <li>Not to canvass other members in order to promote paid services.</li>
          <li>Not to disclose to other Members login information, in particular its access to his account passwords.</li>
          <li>Do not advertise or induce of any kind whatsoever to use any other service, competitor or not and not to commit offenses involving unfair competition</li>
        </ul>
      </ol>

      <br>

      <li>AVAILABILITY</li>
      <p>
        Tipple SAS strives to ensure the availability of Application 24h / 24h and 7d / 7d.
      </p>
      <p>
        However, it may happen that access to the application is interrupted notably in the framework of maintenance, upgrades or updates, emergency repairs, or due to circumstances beyond the will Tipple of SAS. Tipple SAS is committed to taking all reasonable steps to limit these disruptions insofar as they are attributable.
      </p>
      <li>INTELLECTUAL PROPERTY</li>
      <p>
        The application and content of the application are protected by the Code of Intellectual Property as well as by all applicable international standards, and are, unless otherwise stated, the exclusive property of Tipple SAS or its partners.
      </p>
      <p>
        Any reproduction, publication, transmission, use or modification of all or part of the Application and / or any of its elements, made without the prior written permission of Tipple SAS constitutes an infringement liable to be prosecuted civil and / or criminal penalties.
      </p>

      <li>LIMITATION OF LIABILITY</li>
      <p>
        The application and content of the application are protected by the Code of Intellectual Property as well as by all applicable international standards, and are, unless otherwise stated, the exclusive property of Tipple SAS or its partners. Any reproduction, publication, transmission, use or modification of all or part of the Application and / or any of its elements, made without the prior written permission of Tipple SAS constitutes an infringement liable to be prosecuted civil and / or criminal penalties.
      </p>

      <li>CHANGES</li>
      <p>
        Tipple SAS HAS the right to make changes at any time it deems necessary and useful to these Terms.
      </p>
      <p>
        The features and / or characteristics of the application and related services are scalable.
      </p>
      <p>
        Tipple SAS reserves the right at any time to launch new services but also, without notice and at its sole discretion, to remove or modify all or part of the features, characteristics, items and / or services of the Application.
      </p>

      <li>ACCOUNT</li>
      <p>
        Tipple SAS reserves the right to take all necessary measures, including the closure of a User Account, without giving reasons or prior notice or formalities or indemnities in favor of the User, in the case of a the binding judicial decision is, of force majeure, in breach of these Terms or in the event of suspected fraud. Such termination shall take effect without prejudice to any damages that may be claimed for compensation for damages arising from such failures.
      </p>

      <li>APPLICABLE LAWS</li>
      <ol>
        <li>These Terms are governed by French law.</li>
        <li>Any dispute will arise in connection with these Terms shall be submitted to mediation before any judicial or arbitral action.</li>
      </ol>
    </ol>

  </div>
</div>
