<div class="container">
  <%= image_tag "admin/Logo.png", class: "login-logo"%>
  <div class="login-form-container">
    <div class="login-form">
      <div class="authenticate_response"><%= render("shared/flash") %></div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "EMAIL", required: true%>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "PASSWORD", required: true %>
        </div>

      <!--   <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%> -->

        <div class="action">
          <%= f.submit "LOGIN", class: "expanded button login-button"%>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>