/*
::-webkit-input-placeholder {
    color:    #1c50b3;
}
:-moz-placeholder {
    color:    #1c50b3;
}
::-moz-placeholder {
    color:    #1c50b3;
}
:-ms-input-placeholder {
    color:    #1c50b3;
}
*/

html,body {
  height: 100%
}

.holder {
    min-height: 100%;
    position:relative;
}

.container {
  position: fixed;
  background-image: asset-url("admin/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
  -moz-background-size: cover;  /* Firefox 3.6 */
  display: table;
}

.login-logo {
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.login-form-container {
  background-color: white;
  height: 69vh;
  text-align: center;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  padding-top: 8vh;
  width: 50vh;
  input[placeholder]{
    text-align:center;
  }
  input[placeholder]::-moz-placeholder {
    color:    #001040;
  }
}

.login-button {
    background-color: #001040;
    &:hover, &:focus {
      background-color: #FFFFFF;
      color: #001040;
      border-color: #001040;
    }
}

.authenticate_response {
  height: 30px;
}

a {
  color: #001040;
  cursor: pointer;
  line-height: inherit;
  text-decoration: none;
  background-color: transparent;

  &:hover, &:focus {
      color: #940069;
    }

  &:hover, &:active {
    outline: 0;
  }
}

.header_top_container {
  background-color: #020731;
  width: 100%;
  color: #FFFFFF
}

.header_bottom_container {
  background-color: #e6e6e6;
  width: 100%;
}

.header_left_container {
  height: 80px;
  display: flex;
  /*Uncomment below to center horizontally*/
  /*justify-content: center;*/
  align-items: center;
}

.header_right_container {
  height: 80px;
  float: right;
  display: flex;
  /*Uncomment below to center horizontally*/
  /*justify-content: center;*/
  align-items: center;
}

.img_circle {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  width: 50px;
  height: 50px;
}

.header_icon {
  height: auto;
}

.body_container{
  padding-bottom: 6vh;
}

.footer_container {
  height: 6vh;
  background-color: #020731;
  width: 100%; 
  bottom: 0;
  position: absolute;
}

.dataTables_wrapper.dt-foundation {
    margin-top: 3vh;
}

.dataTables_wrapper.dt-foundation.no-footer {
    margin-top: 3vh;
}

.table-container > thead > tr > th{
  text-align: center;
}
.table-container > tbody > tr > td{
  text-align: center;
}
.table-container > tfoot > tr > th{
  text-align: center;
}

.table-container {
  margin-top: 3vh;
  border-collapse: separate;
  border-spacing: 2px;
}

.table-container > thead > tr:first-child {
  text-align: center;
  background-color: #91adde;
  color: #FFFFFF;
}

.table-container > tfoot > tr:first-child {
  text-align: center;
  background-color: #91adde;
  color: #FFFFFF;
}

.table-container > thead > tr:first-child > th{
  border-bottom: 3vh solid;
}

.action_button {
 padding: 0.25em 1em;
}

.text_align_center{
  text-align: center;
}

.slick-prev::before, .slick-next::before {
  color: #001040;
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
}

.slick-track {
    margin: auto;
}

.photo_gallery {
  text-align: center;
}

.slick-slide {
  text-align: center;
}

.slick-slide::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.slick-slide .photo {
    padding: 10px;
    border: 5px solid #ffffff;
    width: 150px;
    height: 150px;
}


.sortable > div { 
  float: left; 
  margin: 5px; 
  width: 150px; 
  height: 150px; 
  border: 4px solid #e6e6e6;
}


.info_container1 {
  background-color: #e6e6e6;
  margin-top: 75px;
  padding: 100px 10px 10px;
}

.info_container2 {
  background-color: #e6e6e6;
  padding: 10px;
}

.info_label {
  font-weight: 600;
  text-align: right;
}

.small-6.large-6.columns.info_text > span{
  color: #2199e8;
}

.info_icon_container {
  border: 4px solid white;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position : absolute;
  right: 0 ;
  left : 0 ;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.violet_button{
  background-color: #020731;
  border-radius: 17px;
  border: 1px solid #020731;
  color: #fefefe;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 2px 40px;
  text-align: center;

  &:hover, &:focus {
    background-color: #FFFFFF;
    color: #001040;
    border-color: #020731;
  }
}

.green_button{
  background-color: #309e55;
  border-radius: 17px;
  border: 1px solid #309e55;
  color: #fefefe;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 2px 40px;
  text-align: center;

  &:hover, &:focus {
    background-color: #FFFFFF;
    color: #309e55;
    border-color: #309e55;
  }
}

.normal_button{
  background-color: #309e55;
  border-radius: 17px;
  border: 1px solid #309e55;
  color: #fefefe;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 2px 40px;
  text-align: center;

  &:hover, &:focus {
    background-color: #FFFFFF;
    color: #309e55;
    border-color: #309e55;
  }
}

.form_container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  height: auto;
  text-align: center;
}

.delete_photo {
    font-size: 35px;
    font-weight: lighter;
    height: 25px;
    left: 71px;
    position: relative;
    text-align: end;
    top: -32px;
}

.dont_show { 
  display: none; 
} 

.dataTables_processing.panel {
    background-color: #ffffff;
}

.dataTables_wrapper {
    margin-top: 3vh;
}

.adjust-top-bar {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.header_main_links {
    background-color: #91adde;
}

.remove-button {
  color: #8a8a8a;
  cursor: pointer;
  font-size: 2em;
  line-height: 1;
  position: relative;
  right: 0;
  top: -8px;
}

.add_photo_container {
  display: inline-flex;
}

.small-9.large-9.columns.right-text-align {
    text-align: left;
}

li.token-input-token {
    background-color: #91adde;
    color: #000;
    cursor: default;
    display: block;
    font-weight: bold;
    height: auto !important;
    margin: 3px;
    overflow: hidden;
    padding: 3px 5px;
}

li.token-input-selected-token {
    background-color: #020731;
    color: #fff;
}


div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #91adde;
}

ul.token-input-list {
    background-color: #fff;
    border: 1px solid #999;
    clear: left;
    cursor: text;
    font-family: Verdana,sans-serif;
    font-size: 12px;
    height: auto !important;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: auto;
    z-index: 999;
}

ul.token-input-list li input {
    background-color: white;
    border: 0 none;
    padding: 3px 8px;
    width: 100%;
}

#token-input-manual_notification_recipients {
    background-color: white;
    border: 0 none;
    padding: 3px 8px;
    width: 100% !important;
}

.callout {
    background-color: #e6e6e6;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    color: #0a0a0a;
    margin: 0 0 1rem;
    padding: 1rem;
    position: relative;
}

.faq-item-title {
  font-weight: bold;
}
