<div class="row body_container">
  <div class="form_container">
    <% if @place.errors.any? %>
    <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
    <%= form_for @place,  html: { multipart: true } do |f| %>
      <div class="small-3 large-3 columns info_label">
        Name:
      </div>
      <div class="small-9 large-9 columns">
        <%= f.text_field :name, autofocus: true, placeholder: "Name", required: true %>
      </div>

      <div class="small-3 large-3 columns info_label">
        Address:
      </div>
      <div class="small-9 large-9 columns">
        <%= f.text_area :address, autofocus: true, placeholder: "Address", required: true %>
      </div>

      <div class="small-3 large-3 columns info_label">
        Description:
      </div>

      <div class="small-9 large-9 columns">
        <%= f.text_field :description, autofocus: true, placeholder: "Description" %>
      </div>

      <div class="small-3 large-3 columns info_label">
        Latitude:
      </div>
      <div class="small-9 large-9 columns">
        <%= f.number_field :lat, step: 'any', autofocus: true, placeholder: "00.00000", required: true %>
      </div>

      <div class="small-3 large-3 columns info_label">
        Longitude:
      </div>
      <div class="small-9 large-9 columns">
        <%= f.number_field :lng, step: 'any', autofocus: true, placeholder: "00.00000", required: true %>
      </div>

      <div class="small-3 large-3 columns info_label">
        Add photo:
      </div>
      <div class="small-9 large-9 columns">
        <br/>
        <div id="append_container">
          <div class="add_photo_container">
            <div class="small-1 large-1 columns">
              <button class="remove-button" aria-label="Close alert" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="small-11 large-11 columns">
            <%= f.file_field :add_photo, multiple: true, name: "place[add_photo][]", class: "place_add_photo" %> 
            </div>
          </div>
        </div>
      </div>

      <div class="small-3 large-3 columns">
        &nbsp;
      </div>
      <div class="small-9 large-9 columns right-text-align">
        <a id="add_more">Add more</a>
      </div>

      <% if !(@place.photos.count <= 0) %>
      <div class="small-3 large-3 columns info_label">
        Order:
      </div>
      <div class="small-9 large-9 columns">
        <div class="sortable">
        <% @place.photos.order(position: :asc).each { |photo| %>
          <div class="ui-state-default" style="background-image: url(<%= photo.try(:image).url(:medium) %>); background-position: center center; background-repeat: no-repeat; background-size: cover;">
            <%= f.hidden_field(:photos, multiple: true, value: photo.id) %>
            <%= link_to raw('&times;'), delete_place_photo_path(id: @place.id, photo_id: photo.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'delete_photo' %>
          </div>
        <%  } %>
        </div> 
        <br>
      </div>
      <% end %>

      <div class="small-12 large-12 columns">
        <div class="actions">
          <br>
          <%= link_to "PLACES", places_path, class: "violet_button" %>  <%= f.submit "SUBMIT", class: "green_button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $("#add_more").click(function(e){
    $("#append_container").append(getInsert);
  });

  $(document).on('click', ".remove-button", function () { 
     $(this).parent('div').parent(".add_photo_container").remove();
  });


  clone = $("#append_container").first('div').html();

  function getInsert(){
    return  clone
  }

  $(function() {
    $( ".sortable" ).sortable({
      revert: true
    });
    $( ".sortable, .ui-state-default" ).disableSelection();
    
    $('.delete_photo').bind('ajax:success', function(e) {  
        $(this).parent().remove();
    })
  });
</script>
