<div class="row">
  <% 
    if @place.background.present? 
      place_background = @place.background.url(:large)
    else
      place_background = Photo.default_photo_place.try(:image).url(:large)
    end 
  %>
  <div class="info_icon_container" style="background-image: url(<%= place_background %>); background-position: center center; background-repeat: no-repeat; background-size: cover;">
  </div>
</div>

<div class="row info_container1">
  <div class="small-6 large-6 columns info_label">
    <span>Name:</span><br>
    <span>Address:</span><br>
    <span>Latitude:</span><br>
    <span>Longitude:</span><br> 
  </div>
  <div class="small-6 large-6 columns info_text">
    <span><%= @place.name %></span><br>
    <span><%= @place.address %></span><br>
    <span><%= @place.lat %></span><br>
    <span><%= @place.lng %></span><br>
  </div>
</div>
<div class="row info_container2">
  <div class="small-12 large-12 columns">
    <div style="width: 500px; margin-left: auto; margin-right: auto; text-align: center;">
      <div class="photo_gallery">
        <% 
        if @place.photos.present?
        @place.photos.order(position: :asc).each { |photo| %>
          <div class="slick-slide">
            <div class="photo" style="background-image: url(<%= photo.try(:image).url(:medium) %>); background-position: center center; background-repeat: no-repeat; background-size: cover;" >
            </div>
          </div>
        <% } 
        end
        %>
      </div>
      <br>
      <%= link_to "PLACES", places_path, class: "violet_button" %>  <%= link_to "EDIT", edit_place_path(@place), class: "green_button" %>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.photo_gallery').slick({
      accessibility: true,
      arrows: true,
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
  });
</script>
