<div class="row body_container">
  <div class="small-12 large-12 columns">
    <table class="table-container" id="place_table">
      <thead>
        <tr>
          <th style="display: none">ID</th>
          <th>NAME</th>
          <th>ADDRESS</th>
          <th>LATITUDE</th>
          <th>LONGITUDE</th>
          <th>BACKGROUND</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th style="display: none">ID</th>
          <th>NAME</th>
          <th>ADDRESS</th>
          <th>LATITUDE</th>
          <th>LONGITUDE</th>
          <th>BACKGROUND</th>
          <th>ACTION</th>
        </tr>
      </tfoot>
    </table>

    <div class="small reveal" id="place_info_modal" data-reveal>
      <div id="place_info_container"></div>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<script>
  $('#place_table').DataTable({
    "lengthMenu": [ 5,10, 25, 50, 75, 100 ],
    "processing": true,
    "serverSide": true,
    "ajax": "<%= ajax_places_url %>",
    columns: [ 
    { className: "dont_show", searchable: false, orderable: false }, 
    { }, 
    { searchable: false, orderable: false }, 
    { searchable: false, orderable: false },
    { searchable: false, orderable: false },
    { searchable: false, orderable: false },
    { searchable: false, orderable: false }  
    ] 
  });
</script>
