<div class="row body_container">
  <div class="small-12 large-12 columns">
    Name: <%= @place.name %><br>
    Addres: <%= @place.address %><br>
    Latitude: <%= @place.lat %><br>
    Longitude: <%= @place.lng %><br>
    Background set: <%= image_tag @place.background.url(:medium) %><br><br>
    Photos: 

    <div class="photo_gallery">
      <% @place.photos.each { |photo| %>
        <div class="slick-slide"><%= image_tag photo.try(:image).url(:medium) %></div>
      <%  } %>
    </div>

    <%= link_to "Places", places_path %> | <%= link_to "Edit", edit_place_path(@place) %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.photo_gallery').slick({
      accessibility: true,
      arrows: true,
      dots: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
    });
  });
</script>
