<div class="header_top_container">
  <div class="row">
    <div class="small-6 large-6 columns">
      <div class="header_left_container">
        <%= link_to image_tag("admin/Icon.png"), analytics_path , class: "header_icon"%>
      </div>
    </div>
    <div class="small-6 large-6 columns">
      <div class="header_right_container">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><%= current_user.email %></li>
          <li>
            <a href="#"><%= image_tag current_user.avatar.url(:thumb), class: "img_circle" %></a>
            <ul class="menu vertical">
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Log out" , destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="header_bottom_container">
  <div class="row">
    <div class="top-bar adjust-top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <% 
            uri = request.fullpath.split('/').second 
          %>
          <li <% if uri == "analytics" %> class="header_main_links" <% end; %> ><%= link_to "Analytics", analytics_path %></li>
          <li <% if uri == "users" %> class="header_main_links" <% end; %> ><%= link_to "User Manager", users_path %></li>
          <li <% if uri == "places" %> class="header_main_links" <% end; %> ><%= link_to "Places Manager", places_path %></li>
          <li <% if uri == "#" %> class="header_main_links" <% end; %> ><%= link_to "Notifications Manager", notifications_path %></li>
        </ul>
      </div>

      <% if @create_path %>
        <div class="top-bar-right">
          <%= form_tag @create_path, :method => 'get' do %>
            <ul class="menu">
              <% if @places.present? %>
                  <li><%= link_to "Create Places", new_place_path %></li>
              <% elsif @users.present? %>
                  <li><%= link_to "Create User", new_user_path %></li>
              <% else %>
                  <li><%= link_to "Send Notification", new_notification_path %></li>
              <% end %>
              <!--
              <li><%= text_field_tag :search, params[:search], placeholder: "Search" %></li>
              <li><%= submit_tag "Search", name: nil, class: "button"%></li>
              -->
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

