<%# The "application" layout is the default layout. It extends "base"  %>
<%# to include things like header, footer, and alerts that are common  %>
<%# to most (but not all) views.                                       %>

<% if user_signed_in? %>
<%= render("layouts/header") %>
<% end %>
<%= yield :form_errors %>
<%= yield %>

<% if user_signed_in? %>
<%= render("layouts/footer") %>
<% end %>
<% parent_layout "base" %>

