<%# The "base" layout contains boilerplate common to *all* views. %>

<!DOCTYPE html>
<html>
  <head>
    <!-- Tipple <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->

    <%# CSS should go closest to the top of the document as possible. %>
    <%= stylesheet_link_tag "slick" %>
    <!-- Add the slick-theme.css if you want default styling -->
    <%= stylesheet_link_tag "slick-theme" %>
    <%= stylesheet_link_tag("application", :media => "all") %>
    <%= stylesheet_link_tag "foundation-datepicker.min" %>
    <%= stylesheet_link_tag "style" %>

    <%# JavaScript must be in head for Turbolinks to work. %>
    <%= javascript_include_async_tag("application") %>
    <%= stylesheet_link_tag "jquery-ui" %>
    <%= javascript_include_tag "jquery-ui" %>

    <%= javascript_include_tag "foundation-datepicker.min" %>
    <%= yield(:head) %>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/dataTables.foundation.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.2.1/css/buttons.foundation.min.css"/>
    <!-- <%= stylesheet_link_tag "datatables_foundation" %> -->

    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/dataTables.foundation.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.2.1/js/buttons.foundation.min.js"></script>
  <!--   <%= javascript_include_tag "jquery.dataTables.min" %>
    <%= javascript_include_tag "dataTables.foundation.min" %>
    <%= javascript_include_tag "dataTables.buttons.min" %>
    <%= javascript_include_tag "buttons.foundation.min" %> -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# Specifies the default name of home screen bookmark in iOS 6+ %>
    <meta name="apple-mobile-web-app-title" content="Tipple">

    <%= csrf_meta_tags %>

    <title>
      <%= strip_tags(yield(:title)) + " – " if content_for?(:title) %>
      Tipple
    </title>
  </head>
  <body>
    <div class="holder">
      <%= yield %>
    </div>
  <%= javascript_include_tag "slick.min" %>
  </body>
</html>
